@use "sass:color";
@use "base" as *;

// modal arka plani
.rs-modal-backdrop,
.rs-backdrop {
    background: rgba($surface-0, 0.72) !important;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}
