@import 'tailwindcss';
@import 'rsuite/dist/rsuite.min.css';

/* font ayarlari */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
